 

@font-face {
    font-family: 'p22_underground_cy_probold';
    src: url('../fonts/p22undergroundcypro-heavy-webfont.eot');
    src: url('../fonts/p22undergroundcypro-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/p22undergroundcypro-heavy-webfont.woff') format('woff'),
         url('../fonts/p22undergroundcypro-heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* CSS Document */
body                  { margin:0; padding:0; font:normal 14px/18px 'PT Sans', Tahoma, sans-serif; color:#1a1a18; background:#fff; }
* { outline:none}
img                           { border:0 }
h1,h2,h3,h4,h5,h6  { padding:0; margin:0 0 10px; line-height:normal; font-family:p22_underground_cy_probold, 'PT Sans', Tahoma, sans-serif }
form                { padding:0; margin:0}
p                    { padding:0; margin:0 0 20px }

h1                    { font-size:24px; margin-bottom:25px; }
h2                    { font-size:20px }
h3                    { font-size:18px }
h4                    { font-size:16px }
h5                    { font-size:14px }
h6                    { font-size:12px }

a        { text-decoration:underline; color:#1a1a18 }
a:hover  { color:#0066cc }

.clear { clear:both; line-height:0; font-size:0; height:0 }

.notBold { font-weight:normal; }

.w960 { width:960px; margin:auto; position:relative; }

.w221 { width:221px; }


body, html { height:100%; }

.layout { min-height:100%; height:auto !important; height:100%; }




/*common*/

input, textarea, .dinamic_gallery img, .banner, .btn_red, .news__content img, .main_menu, .left_column, .dinamic_gallery li, .dinamic_gallery .dinamic_gallery__move a, .comments__item .comments__item__desc, .comments__clients__foto img, .comments .left, .comments .right { behavior:url(files/css/PIE.htc); position:relative }
input[type=text], textarea { border:1px solid #cacaca; border-radius:8px; padding:7px; font-size:14px; }

.social { overflow:hidden; }
		.social a { 
				   display:block; 
				   float:left; 
				   background:url(../images/social.png) 0 0 no-repeat; 
				   height:19px; 
				   margin-left:20px;
				   overflow:hidden;
				   text-indent:-999px; 
				   }
		.social .vk { 
					 background-position:0 0; 
					 width:27px; 
					}
					.social .vk:hover { background-position:0 -19px; }
					
		.social .fb { 
					 background-position:-27px 0; 
					 width:23px; 
					}
					.social .fb:hover { background-position:-27px -19px; }
		
		.social .tw { 
					 background-position:-50px 0; 
					 width:24px; 
					}
					.social .tw:hover { background-position:-50px -19px; }
		

 

.header .tel, .footer .tel  {  font:24px p22_underground_cy_probold, 'PT Sans', Tahoma, sans-serif; }

.h2_title { 
	font-size:18px;
	text-transform:uppercase; 
	background:url(../images/h2_bg.png) 0 100% no-repeat;
	padding:0 0 10px;
	margin-bottom:15px;
	}
	.h2_title a { 
		font-size:14px;
		color:#848484 !important;
		text-transform:none;
		margin-left:15px;
		font-weight:normal;		
		}	
		.h2_title a:hover { 
 			color:#d92929 !important;			 
			}	
			
			
.banner { 
	border-radius:5px; 
	overflow:hidden;
	position:relative;
	font-size:24px;
	color:#fff;
	line-height:normal;
	margin-bottom:50px;
	}			
	.banner__img {
		position:relative; 
		z-index:9; 
		}			
	.banner__txt {
		position:absolute; 
		z-index:99;
		width:350px;
		top:75px;
		left:75px; 
		}			
		.banner h2 { 
			color:#fff;
			font-size:36px;
			font-weight:normal;
			line-height:39px
			}			

.picThumbUp { 
	background:url(../images/picThumbUp.png) 0 0 no-repeat;
	padding-left:60px;
	font-size:14px;
	margin-bottom:25px;
	padding-top:5px;
	}

.box {
 	border:4px solid #e9e9e9;
	color:#848484;
	font-size:13px;
	font-style:italic;
	margin-bottom:25px;
	line-height:20px;
	}
	.box_content {
	    position:relative;
		background:url(../images/corner.png) left no-repeat;
		padding:15px 10px 5px 60px;
		margin:-4px;
		}
		.box_content p {			
			margin-bottom:10px;
			}
 
 
div.left { float:left; } 
.w50pr { width:50%; }
.fs12 { font-size:12px; }
div.columns { overflow:hidden; margin-bottom:25px }

.overflow { overflow:hidden; }

.prev_pic { float:left; text-align:center; margin:0 20px 20px 0; }
.prev_pic .figcaption { font-style:italic; color:#848484; font-size:12px; display:block; }

.table_type_1 { 
	padding:0;
	margin:0 0 25px;
	border:none;
	border-collapse:collapse;
	width:100%;
	border-bottom:1px solid #e9e9e9;
	}
	.table_type_1 th, .table_type_1 td { 
		padding:10px;
		margin:0;
		border:none;
 		}
	.table_type_1 th { 
 		background:#e9e9e9;
		text-align:left;
		}
	.table_type_1 tr:nth-child(odd) td { 
		background:#f6f6f6;
		border:solid #e9e9e9;
		border-width:1px 0;
		}
	.table_type_1 tr:hover td { 
		background:#f1f1f1;
		}


.h100px { height:100px; }
.w100pr { width:100%; }
.w47pr  { width:47%; }

.marg_right_20 { margin-right:20px; }

.feedback   { padding:0 16px 0 0; }
.feedback p { margin-bottom:15px; }
.noWrap { white-space:nowrap; }


.btn_red { 
	background:#e33333 url(../images/bg_main_menu.png) bottom repeat-x; 
	border-radius:5px; 
	color:#fff; 
	text-shadow:0 1px 2px #555; 
	padding:7px 20px; 
	text-align:center;
	border:none;
	font-family:p22_underground_cy_probold, 'PT Sans', Tahoma, sans-serif;
	letter-spacing:1px;	
	}
/**/


/*gallery*/
.gallery {
     overflow:hidden;
	 margin-left:-40px;
	 font-size:13px;
	}
	.gallery__item {
		float:left;
		margin:0 0 40px 40px;	
		}
		.gallery__pic {
		    margin-bottom:15px;
			position:relative;
			}
			.gallery__pic a:hover b {
			    display:block;
				position:absolute;
				top:0;
				left:0;
				background:url(../images/gallery_curtain.png) 50% 50% no-repeat;
				width:200px;
				height:200px;
				z-index:999
				}
			.gallery__pic a img {
				position:relative;				
				z-index:99
				}
		

/**/


/*header*/
   
.header {
       min-height:123px; 
	   height:auto !important; 
	   height:123px;
	   margin-bottom:20px;
	}   
	.header .logo {
		position:absolute;
		top:16px; 
		left:0; 
		width:259px; 
		height:95px;
		background:url(../images/logo_sdm.png);
		overflow:hidden;
		text-indent:-999px;
		} 
		
	.header .tel {
		position:absolute;
		top:82px; 
		left:380px; 
		width:200px;
		color:#000; 
		}	
		  
    .header .social {
	    float:right;
		margin-top:50px;
	
		}
		
	.menu_top { 
		margin-top:20px;
	    float:right; 
		font-size:13px;	
	    }	
		.menu_top ul {		
		   padding:0; 
		   margin:0;
		   list-style-type:none;		
			}
			.menu_top li {			
			   padding:0 0 0 30px; 
			   margin:0;
			   float:left; 			
			}
 
/**/


/*news*/
.news {
	}
	.news__item	{
	    margin-bottom:30px;	
	    font-size:13px;
	   }
	   .news__data {
		   float:left;
		   width:30px; 
		   text-align:center;	
		   color:#000;
		   font-size:16px;
		   color:#d92929;
		   padding-top:5px;
		   margin-right:10px;
           	   		  
		   }
		   .news__data b { 
		   		display:block; 
				font-family:p22_underground_cy_probold, 'PT Sans', Tahoma, sans-serif;	
				}
		   
	   .news__content {
		  overflow:hidden;
		  }
		   .news__content a {
			  padding:5px 0;
			  }
			  .news__content img {
				 border-radius:5px;
				 overflow:hidden;
				 display:block;
				 margin-bottom:10px;
				 }
	
/**/


/*articles*/	

.articles {
	}
	.articles ul {
	    padding:0;
		margin:0;
		list-style-type:none;
		}
		.articles li {
			padding:0 0 10px;
			margin:0;
			list-style-type:none;
			}
			
/**/







/*main_menu*/

.main_menu { 
	background:#e33434 url(../images/bg_main_menu.png) bottom repeat-x; 
	padding:10px 0 10px 30px; 
	border-radius:5px;
	margin-bottom:20px;
	font-family:p22_underground_cy_probold, 'PT Sans', Tahoma, sans-serif;	
	}
	.main_menu ul { 
		padding:0;
		margin:0;
		list-style-type:none;
		}
		.main_menu li {
			padding:0 30px;
			margin:0;
			float:left;
		}
		.main_menu a {
		    color:#fff;
			text-shadow:1px 0 2px #555;	
			text-decoration:none;	   
		}
		.main_menu a:hover {
		    color:#1a1a18;
			text-shadow:1px 0 2px #fff;		   
		}
 
	
/**/





/*main*/

.main { 
	padding-bottom:200px; 
	}
	.left_column {
		width:240px;
		background:#f4f4f4;	
		border-radius:10px;
		float:left;
		position:relative;
		z-index:99;
 		}
		.left_column_content {
 			padding:10px 20px;
			}
			
			.search {
				position:relative;
				margin:0 -10px 20px;
				float:left;
				overflow:hidden;		
				}
				input.search__txt {
					width:185px;
					padding-right:25px;				 		
				}
				input.search__btn {
					width:15px;
					height:16px;
					background:url(../images/search__btn.png);
					position:absolute;
					top:10px;
					right:11px;
					overflow:hidden;
					text-indent:-999px;
					border:none;
					cursor:pointer;
					padding:0;
					margin:0;
					border:0;
									
				}
				
			.menu_catalogue {
				text-transform:uppercase;
				font-size:12px;
				line-height:normal;
				padding-left:2px;
				margin-bottom:40px;
				font-family:p22_underground_cy_probold, 'PT Sans', Tahoma, sans-serif
				}
				.menu_catalogue ul {
					padding:0;
					margin:0;
					list-style-type:none;
					}
					.menu_catalogue li {
						padding:0 0 10px 15px;
						margin:0;
						background:url(../images/marker.png) 0 3px no-repeat;
					}
					.menu_catalogue a {
						 text-decoration:none;
					}
					.menu_catalogue a:hover {
						 color:#d92929;
					}
	.right_column {
	
	     float:left;
		 width:100%;
		 margin:0 0 0 -240px;
		 position:relative;
	 
		}
		.right_column .content {
		
			 padding:0 0 0 280px;
		 
			}
			.right_column .content .separation {
			    background:url(../images/separation.png) 0 0 no-repeat;
				height:40px;
				margin:40px 0;
			}
			
.content a        { color:#0066cc; }
.content a:hover  { color:#1a1a18; }			

/**/

/*footer*/

.footer { 
	background:#404040; 
	border-top:5px solid #323232; 
	padding:36px 27px; 
	font-size:11px; 
	line-height:normal; 
	color:#848484; 
	margin-top:-175px;
	min-width:1000px; 
	}
	.footer__content { 
		overflow:hidden; 
		position:relative; 
		}
		.footer a { color:#fff; }
		.footer a:hover { color:#848484; }
		
		.footer_column__content { 
			width:282px; 
			padding-right:15px; 
			float:left 
			}
		.footer_column__menu { 
			width:440px; 
			float:left; 
			padding-top:3px; 
			overflow:hidden; 
			}
		.footer_column__contacts { float:left; }
		
		.footer .logo { 
			background:url(../images/logo_footer.png); 
			width:159px; 
			height:58px; 
			display:block; 
			overflow:hidden; 
			text-indent:-999px; 
			margin-bottom:12px; 
			}
		
		.menu_bot ul { 
			padding:0 20px 0 0; 
			margin:0; 
			list-style-type:none; 
			float:left; 
			}
			.menu_bot li { 
				padding:0; 
				margin:0; 
				line-height:20px; 
				}
					  
		.footer .tel { color:#fff; }
		.footer p { margin:0; }
		.footer .social { margin-top:15px; margin-left:-20px; }
		 
/**/



/*fancybox*/
.fancybox-wrap .fancybox-next {
	right: -120px;
	padding-right:120px;
	}

.fancybox-wrap .fancybox-prev {
	left: -120px;
	padding-left:120px
	}

.fancybox-wrap .fancybox-close {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 28px;
	height: 28px;
    background:url(../images/fancybox_close.png)
	}
.fancybox-wrap .fancybox-nav span {
 	top:50%;
	width:53px;
	height:50px;
	margin-top: -18px;
  	}
.fancybox-wrap .fancybox-next span {
     background:url(../images/fancybox_right.png)
 	}
.fancybox-wrap .fancybox-prev span {
     background:url(../images/fancybox_left.png)
 	}	
	
	
#fancybox-thumbs ul li {
	 margin-left:20px;
	 margin-right:20px;
}
#fancybox-thumbs ul li.active {
	border: 4px solid #d92929 !important;
}
.fancybox-wrap .fancybox-inner { box-shadow: 0 0 30px #000; }		


.table {
	}
	.table_column {
		width:50%;
		float:left;
 		}
		
.pad_left_70 { padding-left:70px; }		
/*dinamic block*/
.dinamic_gallery { width:320px; position:relative; margin-bottom:15px; }
.dinamic_gallery .dinamic_gallery__big_img { width:320px; position:relative; text-align:center; }
.dinamic_gallery .dinamic_gallery__move { position:absolute; top:0; left:0; width:9999px; }
.dinamic_gallery ul { padding:0; margin:0;  }
.dinamic_gallery li { padding:0 4px; margin:0; float:left;list-style-type:none; }
.dinamic_gallery .dinamic_gallery__move img { border-radius:5px; display:block }
.dinamic_gallery .dinamic_gallery__move a { border:3px solid #fff; display:block; border-radius:5px; }
.dinamic_gallery .dinamic_gallery__move a:hover, .dinamic_gallery .dinamic_gallery__move a.current {  border-radius:5px; border:3px solid #d92929;  }
.dinamic_gallery .dinamic_gallery__move a:hover img, .dinamic_gallery .dinamic_gallery__move a.current img {  border-radius:0; }
.dinamic_gallery .left, .dinamic_gallery .right { display:block; width:15px; height:80px; position:absolute; top:3px; cursor:pointer; }
.dinamic_gallery .left:hover, .dinamic_gallery .right:hover { opacity:0.3; }
.dinamic_gallery .left  { background:url(../images/left.png); left:0 }
.dinamic_gallery .right { background:url(../images/right.png); right:0 }
.dinamic_gallery .dinamic_gallery__prev  { position:relative; padding:0 20px; margin-top:10px; }
.dinamic_gallery .dinamic_gallery__overflow  { height:90px; overflow:hidden; position:relative; }

/**/
.comments__item {
	position:relative;
	} 	
	.comments__item .comments__item__desc { 
		background:url(../images/quote.png) 100% 0 no-repeat; 
		border:3px solid #e2e2e2; 
		padding:20px 55px 20px 20px; 
		font:italic 12px Arial; 
		color:#1a1a18; 
		border-radius:5px; 				
		}
		
	.comments__item .comments__corner {
			background:url(../images/comments__corner.png);
			width:27px;
			height:34px;
			position:absolute;
			left:60px;
			margin-top:-3px;
		}
	
	.comments__clients {
	    margin-top:30px;
	    margin-bottom:10px;
		}
		.comments__clients__foto {
		     float:left;
			}
			.comments__clients__foto img {
				border-radius:40px;
				border:5px solid #f2f2f2;
				}
		
	.comments__clients {
		}
		.comments__clients__name {
		     overflow:hidden;
			 padding-left:20px;
			 padding-top:10px;
			 font-size:14px;
			}
			.comments__clients__name  h3 {
  			    font-size:14px;
				margin-bottom:0
				}
				
.comments {
    overflow:hidden;
    margin-bottom:20px;
	}
	.comments .left, .comments .right { 
		display:block; 
		float:left; 
		margin-right:2px; 
		background:url(../images/l_arr.png) 50% 50% no-repeat; 
		width:34px; 
		height:25px; 
		border:3px solid #e2e2e2; 
		border-radius:5px;
		opacity:0.5;
		cursor:pointer;
		}				
		.comments .right { 
  			background:url(../images/r_arr.png) 50% 50% no-repeat; 
  			}				
		.comments .left:hover, .comments .right:hover {
			opacity:1;
			} 
	.comments__overflow {
		overflow:hidden;
		height:250px !important; 
		width:250px;
		position:relative;
		}		
		.comments__move {
			position:absolute;
			width:999px;
			}
			.comments__item {
				width:250px;
				float:left;
				padding-right:15px;
 				}